<!-- app/views/users/new.html.erb -->

<h1 class="center-column">Registration Page!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class='center-column'>
  First Name: <%= f.text_field :firstname %>
  Last Name: <%= f.text_field :lastname %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>

  <div class = "padding"><%= f.submit "Submit" %></div>
  </div>
<% end %>